.card {
    margin: 0 !important;
    padding: 10px;
    text-align: center;
    min-height: 370px !important;
}
.cardHeader {   
    text-align: center;        
    font-size: 18px;
    font-weight: bold;
}
.cardBody {
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
}
.cardWrapper {
    padding-left: 13px;
}
.cardItemRow {
    margin: 0 !important;
    padding: 20px 15px;
    row-gap: 20px;
}
a {
    text-decoration: none;
    font-size: 14px;
}